@model List<Blog.DAL.DataModel.Makale>

@foreach (var m in Model)
{
    <!-- masonry grid item start -->
    <div class="masonry-grid-item col-sm-6">
        <!-- blogpost start -->
        <article class="clearfix blogpost">
            <div class="blogpost-body">
                <div class="post-info">
                    <span class="day">@m.Tarih.Day</span>
                    @{ 
                        string[] Aylar = { "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Hazrn", "Temmz", "Agust", "Eylül", "Ekim", "Kasım", "Aralık" };
                    }
                    <span class="month">@Aylar[@m.Tarih.Month] &nbsp; @m.Tarih.Year</span>
                </div>
                <div class="blogpost-content">
                    <header>
                        <h2 class="title">@m.Baslik</h2>
                        @{ string adsoyad = m.Uye.Ad + " " + m.Uye.Soyad; }
                        <div class="submitted"><i class="fa fa-user pr-5"></i>
                        by <a href="#">@adsoyad</a>
                        </div>
                    </header>
                    @*<p>@m.Icerik</p>*@
                    <p>@Html.Raw(@m.Icerik)</p>
                </div>
            </div>
            @{ 
                var yorumSayisi = m.Yorumlar.Count();
                var etiketSayisi = m.Etiketler.Count();
            }
            <footer class="clearfix">
                <ul class="links pull-left">
                    <li><i class="fa fa-comment-o pr-5"></i><a href="#">@yorumSayisi yorum</a> |</li>
                    <li><i class="fa fa-tags pr-5"></i><a href="#">etiket @etiketSayisi</a> |</li>
                </ul>
                <a class="pull-right link" href="#"><span>Read more</span></a>
            </footer>
        </article>
        <!-- blogpost end -->
    </div>
    <!-- masonry grid item end -->
}